@import url("http://fonts.googleapis.com/css?family=Open+Sans:300,300italic,600,600italic,700");
@import url("font-awesome.min.css");
/* подтягиваем стиль с инт и с папки */

/* высота строки header-1 */
.header-1 {
	line-height: 1;
}


	/* установка базовых стилей, рамка 0, шрифт, выравнивания */
	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}
	/* установка свойсьва блочности для разделов */
	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block;
	}
	/* высота строки */
	body {
		line-height: 1;
	}
	/* нет маркеров */
	ol, ul {
		list-style: none;
	}
	/* согласование размера для iOS */
	body {
		-webkit-text-size-adjust: none;
	}

/* контейнер меню */
	.container {
		margin-left: auto;
		margin-right: auto;
	}

/* контейнер адаптация под размеры экрана */
	@media screen and (min-width: 740px) {
		.container. {
			width: 100%;
			max-width: 1450px;
			min-width: 1200px;
		}
		.container. {
			width: 900px;
		}
		.container. {
			width: 600px;
		}
		.container. {
			width: 300px;
		}
		.container {
			width: 1200px;
		}
	}
		/* контейнер для экранов с шириной пикселей от 740 до 1200 */
	@media screen and (min-width: 740px) and (max-width: 1200px) {
		.container. {
			width: 100%;
			max-width: 1200px;
			min-width: 960px;
		}

		.container. {
			width: 720px;
		}

		.container. {
			width: 480px;
		}

		.container. {
			width: 240px;
		}

		.container {
			width: 960px;
		}

	}
	/*до 740*/
	@media screen and (max-width: 740px) {
		.container {
			/*устанавка ширины контейнера равной 100 ширины родительского элемента*/
			width: 100% !important;
		}
	}

	/* !!!!!разметка!!!! */
	.row > * {
		/* выравнивание */
		float: left;
		/* размер элементов */
		/* мазила */
		-moz-box-sizing: border-box;
		/*  гугл */
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

	.row:after, .row:before {
		/* пустая строка */
		content: '';
		display: block;
		/* создание пустоты */
		clear: both;	
		height: 0;
	}

	.maza {
		width: 66.6666666667%;
		clear: none;
		/* отступ слева */
		margin-left: 0;
	}


	/* выравниваение при менее 740 */
	@media screen and (max-width: 740px) {
		.baza, .baza {
			width: 100%;
			clear: none;
			margin-left: 0;
		}

	}

/* базовые настройки стилей шрифта */

	body, input, textarea, select {
		/* шрифт Open Sans */
		font-family: 'Open Sans', sans-serif;
		line-height: 1.85em;
		color: #888;
		font-weight: 300;
	}

	strong {
		font-weight: 600;
		color: #3e3e3e;
	}

	h1, h2, h3, h4, h5, h6 {
		color: #3e3e3e;
	}

	h1 {
		font-weight: 300;
	}
		h1 strong {
			font-weight: 700;
		}

	ul, ol, dl, table {
		margin-bottom: 2em;
	}



/* ФОТКА / image */

	.image {
		display: inline-block;
		position: relative;
	}

		.image img {
			display: block;
			width: 100%;
		}


/* РАМКА ФОТКИ */

	#hero .image {
		border-radius: 100%;
	}

		#hero .image img {
			border-radius: 15%;
		}

	




/* Wrappers/обертка/разделение страниц*/

	.wrapper {
		box-shadow: inset 0px 1px 0px 0px rgba(0, 0, 0, 0.05), inset 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
	}

		.wrapper.first {
			box-shadow: none;
		}
		
		.wrapper.style2 {
			background-color: #f2f3f4;
			
		}

	
/* Nav/Меню */

	#nav {
		background-color: #282828;
		text-align: center;
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		z-index: 10000;
		cursor: default;
	}

		#nav ul {
			margin-bottom: 0;
		}

		#nav li {
			display: inline-block;
		}

		#nav a {
			position: relative;
			display: block;
			color: #fff;
			text-decoration: none;
			outline: 0;
		}

/* разешение более 741*/

	@media screen and (min-width: 741px) {

		/* Basic */

			body, input, textarea, select {
				font-size: 13pt;
			}

			h1 {
				font-size: 3.25em;
				letter-spacing: -0.025em;
			}


			h3 {
				font-size: 1.5em;
				letter-spacing: -0.015em;
			}

			h1, h2, h3, h4, h5, h6 {
				margin: 0 0 0.75em 0;
			}

		/* Wrappers /обертка/разделение страниц*/

			.wrapper {
				padding: 8em 0 8em 0;
				text-align: center;
			}

				.wrapper.first {
					padding-top: 12em;
				}

		/* Nav/меню */

			#nav a {
				-moz-transition: background-color .2s ease-in-out;
				-webkit-transition: background-color .2s ease-in-out;
				-ms-transition: background-color .2s ease-in-out;
				transition: background-color .2s ease-in-out;
				padding: 0.2em 1em 0.2em 1em;
				margin: 0.6em 0.2em 0.6em 0.2em;
				font-weight: 600;
				border-radius: 8px;
				color: #fff;
			}
				/* меню при наведении */
				#nav a:hover {
					background: #383838;
				}

				#nav a:active {
					background: #484848;
				}

		/* главная */

			#hero {
				text-align: left;
			}
				/* размер фото */
				#hero .image {
					width: 20em;
					height: 20em;
					margin: 0;
				}

				#hero h1 {
					margin-top: 0.35em;
				}

				#hero p {
					font-size: 1.5em;
					line-height: 1.75em;
				}
	}

/* сред размер */

	@media screen and (min-width: 741px) and (max-width: 1200px) {

		/* главная */

			body {
				min-width: 960px;
				font-size: 11pt;
			}

			input, textarea, select {
				font-size: 11pt;
			}

			header {
				margin: 0 0 4em 0;
			}

		/* главная фотка*/

			#hero .image {
				width: 19.5em;
				height: 19.5em;
				margin: 0;
			}

	}

/* до 740 */

	@media screen and (max-width: 740px) {

		/* базовый блок */

			body, input, textarea, select {
				line-height: 1.75em;
				font-size: 10pt;
				letter-spacing: 0;
			}

			h1, h2, h3, h4, h5, h6 {
				font-size: 1.25em;
				margin: 0 0 0.4em 0;
			}

			h1 {
				font-size: 2.25em;
				line-height: 1;
			}
				h2 {
				font-size: 0.75em;
				line-height: 1;
			}
			header {
				margin: 0 0 2em 0;
			}

				header > p {
					font-size: 1.25em;
				}


		/* оформление */

			.wrapper {
				padding: 3em 15px 3em 15px;
				text-align: center;
			}

				.wrapper.first {
					padding-top: 5em;
				}

		/* Nav / меню */

			#nav a {
				padding: 0.5em;
			}

		/*  фотка		*/

			#hero .image {
				padding: 2em;
				width: 70%;
				height: auto;
				margin: 0 auto 1.75em auto;
			}

	}


/* слайлер */
#slider { /*положение слайдера*/
    position: relative;
	text-align: center;
    top: 10px;
}

#slider{ /*центровка слайдера*/
	margin: 0 auto;
}

#slides article{ /*все изображения справа друг от доруга*/
	width: 20%;
	float: left;
}

#slides .image{ /*устанавливает общий размер блока с изображениями*/
	width: 100%;
	line-height: 0;
}

#overflow{ /*сркывает все, что находится за пределами этого блока*/
	width: 100%;
	overflow: hidden;
}

article img{ /*размер изображений слайдера*/
	width: 500%;
}

#desktop:checked ~ #slider{ /*размер всего слайдера*/
	max-width: 560px; /*максимальнная длинна*/
}

/*настройка переключения и положения для левой стрелки*/
/*если свич1-5 активны, то идет обращение к лейблу из блока с id контролс*/
#switch1:checked ~ #controls label:nth-child(5), 
#switch2:checked ~ #controls label:nth-child(1),
#switch3:checked ~ #controls label:nth-child(2),
#switch4:checked ~ #controls label:nth-child(3),
#switch5:checked ~ #controls label:nth-child(4){
	background: url('prev.png') no-repeat; /*заливка фона картинкой без повторений*/
	float: left;
	margin: 0 0 0 -84px; /*сдвиг влево*/
	display: block;
	height: 68px;
	width: 68px;
}

/*настройка переключения и положения для правой стрелки*/
#switch1:checked ~ #controls label:nth-child(2), 
#switch2:checked ~ #controls label:nth-child(3),
#switch3:checked ~ #controls label:nth-child(4),
#switch4:checked ~ #controls label:nth-child(5),
#switch5:checked ~ #controls label:nth-child(1){
	background: url('next.png') no-repeat; /*заливка фона картинкой без повторений*/
	float: right;
	margin: 0 -84px 0 0; /*сдвиг вправо*/
	display: block;
	height: 68px;
	width: 68px;
}

label, a{ /*при наведении на стрелки или переключатели - курсор изменится*/
	cursor: pointer;
}

.all input{ /*скрывает стандартные инпуты (чекбоксы) на странице*/
	display: none;
}

/*позиция изображения при активации переключателя*/
#switch1:checked ~ #slides .image{
	margin-left: 0;
}

#switch2:checked ~ #slides .image{
	margin-left: -100%;
}

#switch3:checked ~ #slides .image{
	margin-left: -200%;
}

#switch4:checked ~ #slides .image{
	margin-left: -300%;
}

#switch5:checked ~ #slides .image{
	margin-left: -400%;
}

#controls{ /*положение блока всех управляющих элементов*/
	margin: -25% 0 0 0;
	width: 100%;
	height: 50px;
}

#active label{ /*стиль отдельного переключателя*/
	border-radius: 10px; /*скругление углов*/
	display: inline-block; /*расположение в строку*/
	width: 15px;
	height: 15px;
	background: #bbb;
}

#active{ /*расположение блока с переключателями*/
	margin: 23% 0 0;
	text-align: center;
}

#active label:hover{ /*поведение чекбокса при наведении*/
	background: #76c8ff;
	border-color: #777 !important; /*выполнение в любом случае*/
}

/*цвет активного лейбла при активации чекбокса*/
#switch1:checked ~ #active label:nth-child(1),
#switch2:checked ~ #active label:nth-child(2),
#switch3:checked ~ #active label:nth-child(3),
#switch4:checked ~ #active label:nth-child(4),
#switch5:checked ~ #active label:nth-child(5){
	background: #18a3dd;
	border-color: #18a3dd !important;
}

#slides .image{ /*анимация пролистывания изображений*/
	transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

#controls label:hover{ /*прозрачность стрелок при наведении*/
	opacity: 0.6;
}

#controls label{ /*прозрачность стрелок при отводе курсора*/
	transition: opacity 0.2s ease-out;
}



/* достижения */
.achivements {
	list-style-type: disc;
}

.achivements li {
	font-size: 20px;
	line-height: 2;
	text-align: left;
}

.section-container {
	display: flex;
	margin-top: 80px;
}

.center-me {
  text-align: center;
}

.achivements__container {
  min-height: 450px;
}

.achivements__container-content {
	text-align: left;
}

.section-container > * {
	flex-basis: 50%;
}

@media screen and (max-width: 1100px) {
	.achivements__container {
		flex-direction: column;
	}

	.achivements {
		margin-left: 20px;
	}

	.achivements li {
		font-size: 18px;
	}

	.achivements__container > * {
		flex-basis: 100%;
		max-width: 100%;
	}
}

.swiper-slide img {
	max-width: 50%;
}

.swiper-scrollbar,
.swiper-pagination {
	display: none;
	
	
}
.swiper-button-next:after, .swiper-button-prev:after {
	color: gray;
}

/* Grams/грамоты */
.grams-container {
	display: flex;
	align-items: center;
	justify-content: center;
  min-height: 450px;
}

/* Контакты */
.container-main {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
/* тень между блоками страницы */
.shadow {
  box-shadow: inset 0px 1px 0px 0px rgba(0, 0, 0, 0.05), inset 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
}

.container-main > section {
  max-width: 1200px;
  width: 100%;
}

.contacts {
	padding: 8em 0;
}

.contacts-container {
	display: flex;
}

.contacts__item-title {
	font-size: 1.5em;
	font-family: 'Open-Sans', sans-serif;
}

.contacts__item-content {
	display: flex;
	flex-direction: column;
  text-align: center;
	gap: 10px;
}

.contacts__item-content.center-me {
  justify-content: center;
}

@media screen and (max-width: 900px) {
  .section-container {
    flex-wrap: wrap;
    gap: 36px;
    margin: 60px 40px;
  }

  .section-container .center-me {
    text-align: left;
    flex-basis: 100%;
  }

  .center-me .contacts__item-content-item {
    min-width: 100%;
    font-size: 16px;
  }
  .grams-container {
    min-height: 250px;
  }
}

.contacts__item-content-item {
  align-self: center;
	font-size: 20px;
	display: flex;
  min-width: 370px;
	align-items: center;
	gap: 10px;
}

.contacts__item-content-item img {
	width: 16px;
}

.contacts__item-content-item > a {
	color: inherit !important;
	text-decoration: none;
}

/* подвал */
.footer {
  background-color: #383838;
  height: 260px;
  width: 100%;
}

.footer-content > * {
  text-align: center;
}

.footer__item > a {
	color: inherit !important;
	text-decoration: none;
}